<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <vc:blog-nav></vc:blog-nav>

    @RenderBody()


    @RenderSection("button", required: false)
    <script src="~/scripts/bundle.js" asp-append-version="true"></script>
</body>
</html>
