@model RegisterInfo

<h1>注册页面</h1>

<form method="post">
    <div>
        <label asp-for="ShowName">显示名称</label><br />
        <input asp-for="ShowName" />
        <span asp-validation-for="ShowName"></span>
    </div>
    <div>
        <label asp-for="Username">登录名称</label><br />
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password">密码</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RePassword">确认密码</label><br />
        <input asp-for="RePassword" />
        <span asp-validation-for="RePassword"></span>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <br />
    <button type="submit" name="register">注册</button>
</form>